# Provide ifirma's API key that can be found in "Podstawowe klucze autoryzacji" 
# in the "Settings / API" section of ifirma's website.
# IMPORTANT: This example requires that "abonent" API key is generated.

# e-mail address used to log-in
IFIRMA_API_USERNAME=

# Abonent API key
IFIRMA_abonent_API_KEY=
